# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# LyX files
*.lyx~
*.lyx

# .git
*.git

# A directory for testing and fun
Fun/
tests/

# matopower cases
case*.m

docs/DocumentationPSAT.pdf
docs/MATPOWER USER MANUAL.pdf
docs/AC Power Flow Data in MATPOWER and QCQP format_ iTesla, RTE Snapshots, and PEGASE.pdf
